<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Online Chess</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="status.js"></script><!-- import de la partie actuelle -->
    <script src="script.js"></script><!-- affichage et gestion de l'échiquier -->
  </head>

  <body onload="init()">
    <center>
        <h1>Online Chess</h1>

        <!-- L'échiquier est un tableau de 8 lignes x 8 colonnes -->
        <table class="chessboard">
            <tr><th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th></tr>
            <tr><th>8</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><th>8</th></tr>
            <tr><th>7</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><th>7</th></tr>
            <tr><th>6</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><th>6</th></tr>
            <tr><th>5</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><th>5</th></tr>
            <tr><th>4</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><th>4</th></tr>
            <tr><th>3</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><th>3</th></tr>
            <tr><th>2</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><th>2</th></tr>
            <tr><th>1</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><th>1</th></tr>
            <tr><th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th></tr>
        </table><br/>
        
        <!-- Formulaire de saisie et emission du coup à jouer
             Envoie une requêtes sur '/(POST)' au serveur -->
        <form method="POST">
            <input type="text"   class="texte"  name="move" placeholder="Movement (d7-d6)" autofocus autocomplete="off"></input>
            <input type="submit" class="submit" value="Send"></input>
            <input type="submit" class="submit" value="Reset"       formaction="/reset"></input>
            <input type="submit" class="submit" value="back return" formaction="/coupArriere"></input>

            <!-- inputs for the promotion -->
            <% if (promotion !== false) { %>
              <input type="text"   class="texte"  id="texte2"  name="piecePromotion" placeholder="piece (rook)" autofocus autocomplete="off"></input>
              <input type="submit" class="submit" id="submit2" value="Send" formaction="/promotion"></input>
            <% } %>

            <p>Attention pour la promotion vous devez appuyer sur le bouton send et non appuyer sur entrer, sinon il se produit une erreur et vous devrez faire un backReturn puis recommencer</p>
        </form>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
    </center>
  </body>
</html>